.post {
    &__item {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (min-width: 568px) {
            flex-wrap: nowrap;
        }

        &--box {
            background-color: white;
            border-radius: 4px;
        }

        &--img {
            object-fit: cover;
            object-position: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            flex: 0 0 100%;
            width: 100%;
            height: 100px;


            @media screen and (min-width: 568px) {
                border-radius: 10px;
                width: 150px;
                height: 150px;
                flex: 0 0 150px;
            }
        }

        &--text {
            background: #FFFFFF;
            box-shadow: -9px 8px 16px rgba(102, 102, 102, 0.15);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 1rem;
            flex: 1 0 50%;

            @media screen and (min-width: 568px) {
                margin-left: -30px;
                border-radius: 4px;
                padding: 1.5rem;
            }
        }

        &--title {
            color: #393939;
            font-weight: 400;
            font-size: 14px;
        }

        &--sub {
            margin-top: .325rem;
            margin-bottom: 0.825rem;
            color: #a6a6a6;
            font-size: 12px;
            display: flex;
            flex-wrap: wrap;
        }

        &--detail {
            display: inline-flex;
            margin-right: 1rem;

            svg {
                margin-right: 5px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &--link {
            color: #F93737;
            transition: all 200ms ease-in;
            font-size: 14px;

            svg {
                transition: all 300ms ease-in;
            }

            &:hover {
                color: darken($color: #F93737, $amount: 20);

                svg {
                    margin-left: 0.5rem;
                }
            }
        }

        svg {
            vertical-align: middle;
        }
    }

    &__category {
        background-color: white;
        border-radius: 4px;
        width: 85%;
        max-width: 998px;
        margin: 2rem auto;
        padding: 1.5rem;

        &--title {
            color: #393939
        }

        &--head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;

            @media screen and (max-width: 567px) {
                position: sticky;
                top: 0;
                background: white;
                padding: 5px;
            }
        }

        &--sort {
            cursor: pointer;
            transition: 100ms linear;

            path {
                fill: darken($color: #F93737, $amount: 20);
            }

            &.descend {
                transform: rotate(180deg);

                path {
                    fill: #F93737;
                }
            }
        }
    }
}